
body {
  background-color: tomato;
  color: black;
  font-family: Verdana;
<<<<<<< HEAD
  background-image:linear-gradient(#f67b6b, #f2c1ea, #f8f9c7);
  font-family: "Georgia, serif";
=======
  background-image:linear-gradient(#f67b6b,#f2c1ea,#f8f9c7);

>>>>>>> 5d36584f9888f8f8f6f517da336a29aa9fcea07c
}

h3 {
	text-align:center;
}

p {
	
}

iframe {
	display: block;
	margin-left: auto;
	margin-right:auto;
}
#center {
	background-color:rgba(0,0,0,0);
	width: 56%;
	margin:auto;
}

.main {
  background-color:rgba(255,255,255,0.7);
  border-radius:10px;
  padding: 20px;
  text-align: center;
}
#rightcol {
  width:21%;
  position:absolute;
  right:5px;
  top:0px;

}
#leftcol {
  width:21%;
  position:absolute;
  left:5px;
  top:0px;

}

.right {
  border-radius:10px;
  line-height:60px;
  text-align:right;
  background-color:rgba(255,255,255,0.5);
}
.left {
  border-radius:10px;
  line-height:60px;
  text-align:left;
  background-color:rgba(255,255,255,0.5);
}
.plant {
	height:245px;
	width:245px;
	border-style:ridge;
	border-width:10px;
	border-color:black;
	text-align:center;
	background-image:linear-gradient(#f67b6b, #f2c1ea, #f8f9c7);
}
