
body {
  color: black;
  background-image:linear-gradient(#f67b6b, #f2c1ea, #f8f9c7);
  font-family: "sans-serif";
}
a {
	color:#f67b6b;
	font-weight:bold;
}
h3 {
	text-align:center;
}

p {
	
}

iframe {
	display: block;
	margin-left: auto;
	margin-right:auto;
}
#center {
	background-color:rgba(0,0,0,0);
	width: 56%;
	margin:auto;
}

.main {
  background-color:rgba(255,255,255,0.7);
  border-radius:10px;
  padding: 20px;
  text-align: center;
}
#rightcol {
  width:21%;
  position:absolute;
  right:5px;
  top:0px;

}
#leftcol {
  width:21%;
  position:absolute;
  left:5px;
  top:0px;

}

.right {
  border-radius:10px;
  line-height:60px;
  text-align:center;
  background-color:rgba(255,255,255,0.5);
}
.left {
  border-radius:10px;
  line-height:60px;
  text-align:center;
  background-color:rgba(255,255,255,0.5);
}
.plant {
	height:230px;
	width:230px;
	border-style:ridge;
	border-width:10px;
	border-color:black;
	text-align:center;
	background-image:linear-gradient(#f67b6b, #f2c1ea, #f8f9c7);
	position:absolute;
	top:0px;
	left:0px;
}
