
body {
  background-color: tomato;
  color: black;
  font-family: Verdana;
}
.main {
  background-color:rgba(255,255,255,0.5);
  border-radius:10px;
  padding: 20px;
  margin: auto;
  width: 69%;
  text-align: center;
}
.right {
  width:10%;
  margin: auto;
  text-align:justify;
  position:absolute;
  right:0px;
  
  background-color:rgba(255,255,255,0.3);
}
.left {
  width:10%;
  margin: auto;
  text-align:justify;
  position:absolute;
  left:0px;
  
  background-color:rgba(255,255,255,0.3)
}
