
body {
  background-color: tomato;
  color: black;
  font-family: Verdana;
  background-image:linear-gradient(#f67b6b, #f2c1ea, #f8f9c7);

}

h3 {
	text-align:center;
}

.main {
  background-color:rgba(255,255,255,0.7);
  border-radius:10px;
  padding: 20px;
  margin: auto;
  width: 60%;
  text-align: center;
}
.right {
  width:18%;
  border-radius:10px;
  margin: auto;
  text-align:justify;
  position:absolute;
  right:5px;
  top:6px;
  
  background-color:rgba(255,255,255,0.5);
}
.left {
  width:18%;
  margin: auto;
  border-radius:10px;
  text-align:justify;
  position:absolute;
  left:5px;
  top:6px;
  
  background-color:rgba(255,255,255,0.5)
}
